<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{669,157},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,80}</string>
                <key>spriteSourceSize</key>
                <string>{242,80}</string>
                <key>textureRect</key>
                <string>{{1,234},{242,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,30}</string>
                <key>spriteSourceSize</key>
                <string>{652,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{652,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,57}</string>
                <key>spriteSourceSize</key>
                <string>{203,57}</string>
                <key>textureRect</key>
                <string>{{211,97},{203,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,73}</string>
                <key>spriteSourceSize</key>
                <string>{666,73}</string>
                <key>textureRect</key>
                <string>{{1,157},{666,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,117}</string>
                <key>spriteSourceSize</key>
                <string>{332,117}</string>
                <key>textureRect</key>
                <string>{{579,234},{332,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,117}</string>
                <key>spriteSourceSize</key>
                <string>{332,117}</string>
                <key>textureRect</key>
                <string>{{245,234},{332,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,56}</string>
                <key>spriteSourceSize</key>
                <string>{205,56}</string>
                <key>textureRect</key>
                <string>{{659,39},{205,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,41}</string>
                <key>spriteSourceSize</key>
                <string>{88,41}</string>
                <key>textureRect</key>
                <string>{{1,39},{88,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,36}</string>
                <key>spriteSourceSize</key>
                <string>{290,36}</string>
                <key>textureRect</key>
                <string>{{655,1},{290,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,56}</string>
                <key>spriteSourceSize</key>
                <string>{209,56}</string>
                <key>textureRect</key>
                <string>{{448,39},{209,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,58}</string>
                <key>spriteSourceSize</key>
                <string>{213,58}</string>
                <key>textureRect</key>
                <string>{{416,97},{213,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,56}</string>
                <key>spriteSourceSize</key>
                <string>{208,56}</string>
                <key>textureRect</key>
                <string>{{1,97},{208,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,43}</string>
                <key>spriteSourceSize</key>
                <string>{88,43}</string>
                <key>textureRect</key>
                <string>{{91,39},{88,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{90,43}</string>
                <key>textureRect</key>
                <string>{{181,39},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,43}</string>
                <key>spriteSourceSize</key>
                <string>{173,43}</string>
                <key>textureRect</key>
                <string>{{273,39},{173,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paihangbang.png</string>
            <key>size</key>
            <string>{946,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db36638de3b7afe41ac1d976de5e137:52ccfe8bcbbf70a09db51807ed7cae46:2748ec12a3b4f009d2f4b936d98e2063$</string>
            <key>textureFileName</key>
            <string>paihangbang.png</string>
        </dict>
    </dict>
</plist>
