<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bullet_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,125}</string>
                <key>textureRect</key>
                <string>{{579,1386},{128,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bullet_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,125}</string>
                <key>spriteSourceSize</key>
                <string>{128,125}</string>
                <key>textureRect</key>
                <string>{{254,1816},{128,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,157}</string>
                <key>spriteSourceSize</key>
                <string>{161,157}</string>
                <key>textureRect</key>
                <string>{{548,1682},{161,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,55}</string>
                <key>spriteSourceSize</key>
                <string>{317,55}</string>
                <key>textureRect</key>
                <string>{{546,500},{317,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{732,1873},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{718,1556},{126,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,42}</string>
                <key>spriteSourceSize</key>
                <string>{127,42}</string>
                <key>textureRect</key>
                <string>{{690,1882},{127,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,42}</string>
                <key>spriteSourceSize</key>
                <string>{291,42}</string>
                <key>textureRect</key>
                <string>{{572,817},{291,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,43}</string>
                <key>spriteSourceSize</key>
                <string>{163,43}</string>
                <key>textureRect</key>
                <string>{{505,1730},{163,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,43}</string>
                <key>spriteSourceSize</key>
                <string>{163,43}</string>
                <key>textureRect</key>
                <string>{{548,1839},{163,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,34}</string>
                <key>spriteSourceSize</key>
                <string>{177,34}</string>
                <key>textureRect</key>
                <string>{{762,418},{177,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{685,1341},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{762,595},{38,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,123}</string>
                <key>spriteSourceSize</key>
                <string>{138,123}</string>
                <key>textureRect</key>
                <string>{{382,1815},{138,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{440,1388},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1082,222}</string>
                <key>spriteSourceSize</key>
                <string>{1082,222}</string>
                <key>textureRect</key>
                <string>{{0,0},{1082,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,95}</string>
                <key>spriteSourceSize</key>
                <string>{273,95}</string>
                <key>textureRect</key>
                <string>{{614,812},{273,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,113}</string>
                <key>spriteSourceSize</key>
                <string>{278,113}</string>
                <key>textureRect</key>
                <string>{{572,1108},{278,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,86}</string>
                <key>spriteSourceSize</key>
                <string>{258,86}</string>
                <key>textureRect</key>
                <string>{{709,812},{258,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,500}</string>
                <key>spriteSourceSize</key>
                <string>{411,500}</string>
                <key>textureRect</key>
                <string>{{222,0},{411,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{711,1790},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{718,1458},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,66}</string>
                <key>spriteSourceSize</key>
                <string>{565,66}</string>
                <key>textureRect</key>
                <string>{{440,823},{565,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,66}</string>
                <key>spriteSourceSize</key>
                <string>{565,66}</string>
                <key>textureRect</key>
                <string>{{506,823},{565,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,142}</string>
                <key>spriteSourceSize</key>
                <string>{133,142}</string>
                <key>textureRect</key>
                <string>{{548,1882},{133,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,112}</string>
                <key>spriteSourceSize</key>
                <string>{317,112}</string>
                <key>textureRect</key>
                <string>{{367,1498},{317,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,113}</string>
                <key>spriteSourceSize</key>
                <string>{318,113}</string>
                <key>textureRect</key>
                <string>{{254,1498},{318,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,129}</string>
                <key>spriteSourceSize</key>
                <string>{681,129}</string>
                <key>textureRect</key>
                <string>{{633,0},{681,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,323}</string>
                <key>spriteSourceSize</key>
                <string>{324,323}</string>
                <key>textureRect</key>
                <string>{{222,500},{324,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{709,1682},{108,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,128}</string>
                <key>textureRect</key>
                <string>{{685,1085},{131,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,162}</string>
                <key>spriteSourceSize</key>
                <string>{131,162}</string>
                <key>textureRect</key>
                <string>{{601,681},{131,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{245,1941},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,128}</string>
                <key>spriteSourceSize</key>
                <string>{131,128}</string>
                <key>textureRect</key>
                <string>{{685,1213},{131,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{311,1941},{66,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,69}</string>
                <key>spriteSourceSize</key>
                <string>{240,69}</string>
                <key>textureRect</key>
                <string>{{479,1490},{240,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,40}</string>
                <key>textureRect</key>
                <string>{{0,1984},{141,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{828,55}</string>
                <key>spriteSourceSize</key>
                <string>{828,55}</string>
                <key>textureRect</key>
                <string>{{199,1082},{828,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{718,1341},{98,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,62}</string>
                <key>spriteSourceSize</key>
                <string>{834,62}</string>
                <key>textureRect</key>
                <string>{{137,1082},{834,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,170}</string>
                <key>spriteSourceSize</key>
                <string>{171,170}</string>
                <key>textureRect</key>
                <string>{{548,1511},{171,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{601,500},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{902,137}</string>
                <key>spriteSourceSize</key>
                <string>{902,137}</string>
                <key>textureRect</key>
                <string>{{0,1082},{902,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{479,1730},{40,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,27}</string>
                <key>spriteSourceSize</key>
                <string>{89,27}</string>
                <key>textureRect</key>
                <string>{{222,823},{89,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{137,1916},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{732,1952},{73,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{760,1556},{65,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{796,418},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePage6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,46}</string>
                <key>spriteSourceSize</key>
                <string>{418,46}</string>
                <key>textureRect</key>
                <string>{{762,0},{418,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,186}</string>
                <key>spriteSourceSize</key>
                <string>{675,186}</string>
                <key>textureRect</key>
                <string>{{254,823},{675,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{760,1621},{52,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamePage9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,37}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{141,1984},{67,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamePage.png</string>
            <key>size</key>
            <string>{816,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb87c9dd3383be1b23590129ae6da884:724ae2b29865d1f6a98d5df3a43e9ee3:e86b7600fa46b3269ceace31bd471b18$</string>
            <key>textureFileName</key>
            <string>gamePage.png</string>
        </dict>
    </dict>
</plist>
