<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,80}</string>
                <key>spriteSourceSize</key>
                <string>{253,80}</string>
                <key>textureRect</key>
                <string>{{1749,1},{253,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,82}</string>
                <key>spriteSourceSize</key>
                <string>{143,82}</string>
                <key>textureRect</key>
                <string>{{1493,330},{143,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,138}</string>
                <key>spriteSourceSize</key>
                <string>{538,138}</string>
                <key>textureRect</key>
                <string>{{953,330},{538,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,138}</string>
                <key>spriteSourceSize</key>
                <string>{472,138}</string>
                <key>textureRect</key>
                <string>{{1609,1},{472,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,138}</string>
                <key>spriteSourceSize</key>
                <string>{654,138}</string>
                <key>textureRect</key>
                <string>{{953,1},{654,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,187}</string>
                <key>spriteSourceSize</key>
                <string>{606,187}</string>
                <key>textureRect</key>
                <string>{{953,141},{606,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,79}</string>
                <key>spriteSourceSize</key>
                <string>{253,79}</string>
                <key>textureRect</key>
                <string>{{1831,1},{253,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_yxzt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,102}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{1749,256},{178,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxzt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{950,436}</string>
                <key>spriteSourceSize</key>
                <string>{950,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{950,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{1911,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d89e2676d1185bce17b6e246bf450746:3d02bd621d0b0659de38da88ab762a56:9d555fb46495a0909062f51d92a17153$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
