<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_try.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1330,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1330,720}}</string>
                <key>sourceSize</key>
                <string>{1330,720}</string>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,700},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>btnLevel-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1231},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>btnLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1231},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>btnTry-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1150},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>btnTry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1069},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>hongBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{583,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,732}}</string>
                <key>sourceSize</key>
                <string>{583,732}</string>
            </dict>
            <key>img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1069},{184,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,120}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,926},{303,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,65}}</string>
                <key>sourceSize</key>
                <string>{303,65}</string>
            </dict>
            <key>lanBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{696,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,666}}</string>
                <key>sourceSize</key>
                <string>{696,666}</string>
            </dict>
            <key>title_try-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1274},{767,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{767,62}}</string>
                <key>sourceSize</key>
                <string>{793,126}</string>
            </dict>
            <key>title_try.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,724},{793,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,200}}</string>
                <key>sourceSize</key>
                <string>{793,200}</string>
            </dict>
            <key>tittle-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1100},{717,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,172}}</string>
                <key>sourceSize</key>
                <string>{717,172}</string>
            </dict>
            <key>tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,926},{717,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,172}}</string>
                <key>sourceSize</key>
                <string>{717,172}</string>
            </dict>
            <key>weaponInfoKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,700},{367,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,404}}</string>
                <key>sourceSize</key>
                <string>{367,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>try.png</string>
            <key>size</key>
            <string>{2002,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1b4af5d0eb379b13b10ea4d189fe26$</string>
            <key>textureFileName</key>
            <string>try.png</string>
        </dict>
    </dict>
</plist>
