<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_shipionshuaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,69}</string>
                <key>spriteSourceSize</key>
                <string>{299,69}</string>
                <key>textureRect</key>
                <string>{{778,1233},{299,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_tittle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,99}</string>
                <key>spriteSourceSize</key>
                <string>{579,99}</string>
                <key>textureRect</key>
                <string>{{677,684},{579,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weixuanzhong-jinengkuang-a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{915,693},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{1,684},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{915,963},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{1,1038},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{1168,693},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{1002,1},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{339,684},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{1168,963},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{1421,627},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{339,1038},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-f1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{1340,1},{336,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang-f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,268}</string>
                <key>spriteSourceSize</key>
                <string>{251,268}</string>
                <key>textureRect</key>
                <string>{{1421,897},{251,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,270}</string>
                <key>spriteSourceSize</key>
                <string>{253,270}</string>
                <key>textureRect</key>
                <string>{{1356,355},{253,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixuanzhong-jinengkuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,352}</string>
                <key>spriteSourceSize</key>
                <string>{336,352}</string>
                <key>textureRect</key>
                <string>{{1002,355},{336,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzikung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,68}</string>
                <key>spriteSourceSize</key>
                <string>{177,68}</string>
                <key>textureRect</key>
                <string>{{1421,1167},{177,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_skill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{999,681}</string>
                <key>spriteSourceSize</key>
                <string>{999,681}</string>
                <key>textureRect</key>
                <string>{{1,1},{999,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_skill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,135}</string>
                <key>spriteSourceSize</key>
                <string>{494,135}</string>
                <key>textureRect</key>
                <string>{{778,684},{494,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie_skill.png</string>
            <key>size</key>
            <string>{1677,1391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62e8dbdf2488f85b0291c4983975c56:d07df7185860de6898bb0d06ab7b3adf:f8c406f3b81888c9aa7d83bc8e129b63$</string>
            <key>textureFileName</key>
            <string>zombie_skill.png</string>
        </dict>
    </dict>
</plist>
