<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,454}</string>
                <key>spriteSourceSize</key>
                <string>{944,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{944,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,119}</string>
                <key>spriteSourceSize</key>
                <string>{335,119}</string>
                <key>textureRect</key>
                <string>{{1,777},{335,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,117}</string>
                <key>spriteSourceSize</key>
                <string>{333,117}</string>
                <key>textureRect</key>
                <string>{{338,777},{333,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,119}</string>
                <key>spriteSourceSize</key>
                <string>{335,119}</string>
                <key>textureRect</key>
                <string>{{1,898},{335,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newRecard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{142,50}</string>
                <key>textureRect</key>
                <string>{{891,601},{142,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,124}</string>
                <key>spriteSourceSize</key>
                <string>{290,124}</string>
                <key>textureRect</key>
                <string>{{338,896},{290,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,124}</string>
                <key>spriteSourceSize</key>
                <string>{290,124}</string>
                <key>textureRect</key>
                <string>{{673,777},{290,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt-xiayiguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,57}</string>
                <key>spriteSourceSize</key>
                <string>{154,57}</string>
                <key>textureRect</key>
                <string>{{832,601},{154,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_over1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,60}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{532,1022},{126,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,142}</string>
                <key>spriteSourceSize</key>
                <string>{916,142}</string>
                <key>textureRect</key>
                <string>{{1,457},{916,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{979,16}</string>
                <key>spriteSourceSize</key>
                <string>{979,16}</string>
                <key>textureRect</key>
                <string>{{947,1},{979,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_over13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,86}</string>
                <key>spriteSourceSize</key>
                <string>{829,86}</string>
                <key>textureRect</key>
                <string>{{1,601},{829,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,59}</string>
                <key>spriteSourceSize</key>
                <string>{126,59}</string>
                <key>textureRect</key>
                <string>{{837,1061},{126,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,86}</string>
                <key>spriteSourceSize</key>
                <string>{829,86}</string>
                <key>textureRect</key>
                <string>{{1,689},{829,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,60}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{799,999},{126,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,69}</string>
                <key>spriteSourceSize</key>
                <string>{299,69}</string>
                <key>textureRect</key>
                <string>{{1,1019},{299,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,60}</string>
                <key>spriteSourceSize</key>
                <string>{175,60}</string>
                <key>textureRect</key>
                <string>{{660,1069},{175,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,60}</string>
                <key>spriteSourceSize</key>
                <string>{228,60}</string>
                <key>textureRect</key>
                <string>{{302,1022},{228,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,58}</string>
                <key>spriteSourceSize</key>
                <string>{207,58}</string>
                <key>textureRect</key>
                <string>{{302,1084},{207,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,59}</string>
                <key>spriteSourceSize</key>
                <string>{205,59}</string>
                <key>textureRect</key>
                <string>{{856,757},{205,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_over8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,52}</string>
                <key>spriteSourceSize</key>
                <string>{175,52}</string>
                <key>textureRect</key>
                <string>{{1,1090},{175,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_over9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,55}</string>
                <key>spriteSourceSize</key>
                <string>{220,55}</string>
                <key>textureRect</key>
                <string>{{799,777},{220,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie_over.png</string>
            <key>size</key>
            <string>{964,1143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b680b7567e503b76227684b3dad7b36:6f5cd8bb1274e9ef5a45ceff4f839879:42d41ad4ee177999a7563501bd5bbfe4$</string>
            <key>textureFileName</key>
            <string>zombie_over.png</string>
        </dict>
    </dict>
</plist>
