<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dj_tb_00010010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,51}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{1234,447},{56,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,422}</string>
                <key>spriteSourceSize</key>
                <string>{422,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezi_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{191,254}</string>
                <key>spriteSourceSize</key>
                <string>{237,308}</string>
                <key>textureRect</key>
                <string>{{932,512},{191,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezi_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,27}</string>
                <key>spriteSize</key>
                <string>{193,242}</string>
                <key>spriteSourceSize</key>
                <string>{237,308}</string>
                <key>textureRect</key>
                <string>{{890,768},{193,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezi_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{191,254}</string>
                <key>spriteSourceSize</key>
                <string>{237,308}</string>
                <key>textureRect</key>
                <string>{{874,1012},{191,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hezi_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{191,254}</string>
                <key>spriteSourceSize</key>
                <string>{237,308}</string>
                <key>textureRect</key>
                <string>{{1065,1268},{191,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>horneddemon_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{171,200}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{963,1466},{171,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horneddemon_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{185,200}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{981,1668},{185,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horneddemon_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{171,200}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{1136,1461},{171,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horneddemon_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{185,200}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{1085,768},{185,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horneddemon_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{185,200}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{1085,970},{185,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangfa_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,28}</string>
                <key>spriteSize</key>
                <string>{353,248}</string>
                <key>spriteSourceSize</key>
                <string>{399,304}</string>
                <key>textureRect</key>
                <string>{{1,425},{353,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangfa_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,28}</string>
                <key>spriteSize</key>
                <string>{353,248}</string>
                <key>spriteSourceSize</key>
                <string>{399,304}</string>
                <key>textureRect</key>
                <string>{{425,1},{353,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangfa_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,23}</string>
                <key>spriteSize</key>
                <string>{337,236}</string>
                <key>spriteSourceSize</key>
                <string>{399,304}</string>
                <key>textureRect</key>
                <string>{{1,925},{337,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangfa_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,28}</string>
                <key>spriteSize</key>
                <string>{353,248}</string>
                <key>spriteSourceSize</key>
                <string>{399,304}</string>
                <key>textureRect</key>
                <string>{{1,675},{353,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangfa_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,28}</string>
                <key>spriteSize</key>
                <string>{353,248}</string>
                <key>spriteSourceSize</key>
                <string>{399,304}</string>
                <key>textureRect</key>
                <string>{{780,1},{353,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jio_daiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,61}</string>
                <key>spriteSourceSize</key>
                <string>{77,61}</string>
                <key>textureRect</key>
                <string>{{356,425},{77,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jio_daiji_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,57}</string>
                <key>spriteSourceSize</key>
                <string>{70,57}</string>
                <key>textureRect</key>
                <string>{{1067,1172},{70,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanfa_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{235,260}</string>
                <key>spriteSourceSize</key>
                <string>{253,304}</string>
                <key>textureRect</key>
                <string>{{566,1261},{235,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanfa_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{243,260}</string>
                <key>spriteSourceSize</key>
                <string>{253,304}</string>
                <key>textureRect</key>
                <string>{{262,1478},{243,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanfa_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{235,260}</string>
                <key>spriteSourceSize</key>
                <string>{253,304}</string>
                <key>textureRect</key>
                <string>{{507,1498},{235,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanfa_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{235,260}</string>
                <key>spriteSourceSize</key>
                <string>{253,304}</string>
                <key>textureRect</key>
                <string>{{546,1735},{235,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{186,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,259}</string>
                <key>textureRect</key>
                <string>{{1125,508},{186,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{196,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,259}</string>
                <key>textureRect</key>
                <string>{{828,1268},{196,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>marine_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{184,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,259}</string>
                <key>textureRect</key>
                <string>{{1135,1},{184,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{192,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,259}</string>
                <key>textureRect</key>
                <string>{{769,1498},{192,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marine_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{196,235}</string>
                <key>spriteSourceSize</key>
                <string>{270,259}</string>
                <key>textureRect</key>
                <string>{{783,1735},{196,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redcap_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{249,265}</string>
                <key>spriteSourceSize</key>
                <string>{325,353}</string>
                <key>textureRect</key>
                <string>{{356,739},{249,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redcap_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{249,265}</string>
                <key>spriteSourceSize</key>
                <string>{325,353}</string>
                <key>textureRect</key>
                <string>{{623,759},{249,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redcap_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,37}</string>
                <key>spriteSize</key>
                <string>{245,267}</string>
                <key>spriteSourceSize</key>
                <string>{325,353}</string>
                <key>textureRect</key>
                <string>{{663,512},{245,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redcap_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{249,265}</string>
                <key>spriteSourceSize</key>
                <string>{325,353}</string>
                <key>textureRect</key>
                <string>{{340,990},{249,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redcap_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{249,265}</string>
                <key>spriteSourceSize</key>
                <string>{325,353}</string>
                <key>textureRect</key>
                <string>{{607,1010},{249,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skullmask_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{306,259}</string>
                <key>spriteSourceSize</key>
                <string>{306,277}</string>
                <key>textureRect</key>
                <string>{{1,1438},{306,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skullmask_icon_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{306,259}</string>
                <key>spriteSourceSize</key>
                <string>{306,277}</string>
                <key>textureRect</key>
                <string>{{1,1746},{306,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skullmask_icon_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{300,273}</string>
                <key>spriteSourceSize</key>
                <string>{306,277}</string>
                <key>textureRect</key>
                <string>{{1,1163},{300,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skullmask_icon_gj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{306,259}</string>
                <key>spriteSourceSize</key>
                <string>{306,277}</string>
                <key>textureRect</key>
                <string>{{425,251},{306,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skullmask_icon_sw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{306,259}</string>
                <key>spriteSourceSize</key>
                <string>{306,277}</string>
                <key>textureRect</key>
                <string>{{733,251},{306,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{303,1163},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{1288,238},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{1288,262},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tower_shiujing_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1067,1231},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_shuijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1286,362},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_shuijing_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1279,1783},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,2}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,54}</string>
                <key>textureRect</key>
                <string>{{1200,1864},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{623,739},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,53}</string>
                <key>textureRect</key>
                <string>{{1139,1172},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20.5,28}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{44,59}</string>
                <key>textureRect</key>
                <string>{{507,1735},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,104}</string>
                <key>textureRect</key>
                <string>{{1267,1823},{43,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,58}</string>
                <key>textureRect</key>
                <string>{{1089,1870},{78,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,56}</string>
                <key>textureRect</key>
                <string>{{1210,1172},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{83,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,68}</string>
                <key>textureRect</key>
                <string>{{1234,362},{83,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{122,52}</string>
                <key>spriteSourceSize</key>
                <string>{134,70}</string>
                <key>textureRect</key>
                <string>{{1234,238},{122,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{305,225}</string>
                <key>spriteSourceSize</key>
                <string>{305,309}</string>
                <key>textureRect</key>
                <string>{{356,512},{305,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{1147,1870},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation075_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{1253,1868},{43,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{113,50}</string>
                <key>textureRect</key>
                <string>{{1279,1663},{91,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,1}</string>
                <key>spriteSize</key>
                <string>{255,191}</string>
                <key>spriteSourceSize</key>
                <string>{309,237}</string>
                <key>textureRect</key>
                <string>{{1041,251},{255,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,235}</string>
                <key>spriteSourceSize</key>
                <string>{273,307}</string>
                <key>textureRect</key>
                <string>{{303,1241},{261,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{51,54}</string>
                <key>textureRect</key>
                <string>{{262,1438},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{40,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,43}</string>
                <key>textureRect</key>
                <string>{{1279,1756},{40,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,109}</string>
                <key>spriteSourceSize</key>
                <string>{158,109}</string>
                <key>textureRect</key>
                <string>{{1168,1663},{158,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xhr_animation118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{828,1466},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{97,39}</string>
                <key>spriteSourceSize</key>
                <string>{99,39}</string>
                <key>textureRect</key>
                <string>{{1168,1823},{97,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{106,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,123}</string>
                <key>textureRect</key>
                <string>{{981,1870},{106,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xhr_animation131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-9}</string>
                <key>spriteSize</key>
                <string>{261,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,253}</string>
                <key>textureRect</key>
                <string>{{309,1740},{261,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xhr_animation-2.png</string>
            <key>size</key>
            <string>{1320,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275444cd1d1b41295125b415d05cf5a5:0125aab24b59351fe6089b203ab2df40:06b22ebeb841d36fcd4890802787b142$</string>
            <key>textureFileName</key>
            <string>xhr_animation-2.png</string>
        </dict>
    </dict>
</plist>
