<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AAA_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1009},{156,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,154}}</string>
                <key>sourceSize</key>
                <string>{160,158}</string>
            </dict>
            <key>AAA_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,852},{156,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>AAA_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1069},{156,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>batface_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,695},{163,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>batface_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1061},{164,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,216}}</string>
                <key>sourceSize</key>
                <string>{164,216}</string>
            </dict>
            <key>batface_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,495},{164,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,216}}</string>
                <key>sourceSize</key>
                <string>{164,216}</string>
            </dict>
            <key>batface_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,695},{164,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,216}}</string>
                <key>sourceSize</key>
                <string>{164,216}</string>
            </dict>
            <key>black_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,853},{161,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,154}}</string>
                <key>sourceSize</key>
                <string>{161,156}</string>
            </dict>
            <key>black_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,846},{161,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,154}}</string>
                <key>sourceSize</key>
                <string>{161,156}</string>
            </dict>
            <key>black_icon_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,913},{156,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>black_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1008},{161,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,154}}</string>
                <key>sourceSize</key>
                <string>{161,156}</string>
            </dict>
            <key>black_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,852},{161,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,154}}</string>
                <key>sourceSize</key>
                <string>{161,156}</string>
            </dict>
            <key>dj_tb_00010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,688},{56,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{56,51}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>greybeard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,353},{200,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,162}}</string>
                <key>sourceSize</key>
                <string>{204,164}</string>
            </dict>
            <key>greybeard_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,346},{200,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,164}</string>
            </dict>
            <key>greybeard_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,346},{200,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,164}</string>
            </dict>
            <key>greybeard_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,343},{200,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,164}</string>
            </dict>
            <key>head_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,422}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>helmethead_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{210,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{210,219}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>hezi_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,913},{221,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,146}}</string>
                <key>sourceSize</key>
                <string>{221,146}</string>
            </dict>
            <key>hezi_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,661},{221,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,146}}</string>
                <key>sourceSize</key>
                <string>{221,146}</string>
            </dict>
            <key>hezi_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,347},{221,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,146}}</string>
                <key>sourceSize</key>
                <string>{221,146}</string>
            </dict>
            <key>horneddemon_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{273,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,174}}</string>
                <key>sourceSize</key>
                <string>{273,174}</string>
            </dict>
            <key>horneddemon_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,701},{273,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,174}}</string>
                <key>sourceSize</key>
                <string>{273,174}</string>
            </dict>
            <key>horneddemon_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{273,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,174}}</string>
                <key>sourceSize</key>
                <string>{273,174}</string>
            </dict>
            <key>horneddemon_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,426},{273,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,174}}</string>
                <key>sourceSize</key>
                <string>{273,174}</string>
            </dict>
            <key>huangfa_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{281,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,184}}</string>
                <key>sourceSize</key>
                <string>{281,186}</string>
            </dict>
            <key>jio_daiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1165},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>jio_daiji_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1104},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>lanfa_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,178},{167,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,262}}</string>
                <key>sourceSize</key>
                <string>{167,262}</string>
            </dict>
            <key>lanfa_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{167,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,262}}</string>
                <key>sourceSize</key>
                <string>{167,262}</string>
            </dict>
            <key>lanfa_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{167,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,262}}</string>
                <key>sourceSize</key>
                <string>{167,262}</string>
            </dict>
            <key>marine_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1021},{184,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,177}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>marine_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,835},{184,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,177}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>marine_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,545},{184,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,177}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>marine_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1050},{184,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{184,177}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>redcap_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,681},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,169}}</string>
                <key>sourceSize</key>
                <string>{187,173}</string>
            </dict>
            <key>redcap_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,517},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,169}}</string>
                <key>sourceSize</key>
                <string>{187,173}</string>
            </dict>
            <key>redcap_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,510},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,169}}</string>
                <key>sourceSize</key>
                <string>{187,173}</string>
            </dict>
            <key>redcap_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,545},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,169}}</string>
                <key>sourceSize</key>
                <string>{187,173}</string>
            </dict>
            <key>screwbrain_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,638},{205,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{205,173}}</string>
                <key>sourceSize</key>
                <string>{209,177}</string>
            </dict>
            <key>screwbrain_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,343},{205,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,173}}</string>
                <key>sourceSize</key>
                <string>{207,173}</string>
            </dict>
            <key>screwbrain_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,171},{205,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,173}}</string>
                <key>sourceSize</key>
                <string>{207,173}</string>
            </dict>
            <key>screwbrain_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,171},{205,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,173}}</string>
                <key>sourceSize</key>
                <string>{207,173}</string>
            </dict>
            <key>skullmask_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,688},{180,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,163}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>skullmask_icon_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,681},{180,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,163}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>skullmask_icon_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,171},{180,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,163}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>skullmask_icon_sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,295},{180,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,163}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,178},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>tower_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,518},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>tower_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,460},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>tower_shiujing_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1199},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>tower_shuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,845},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>tower_shuijing_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1199},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>xhr_animation001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,339},{186,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,113}}</string>
                <key>sourceSize</key>
                <string>{186,113}</string>
            </dict>
            <key>xhr_animation004.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,884},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,169}}</string>
                <key>sourceSize</key>
                <string>{183,169}</string>
            </dict>
            <key>xhr_animation011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{184,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,291}}</string>
                <key>sourceSize</key>
                <string>{184,291}</string>
            </dict>
            <key>xhr_animation012.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,845},{162,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,203}}</string>
                <key>sourceSize</key>
                <string>{162,203}</string>
            </dict>
            <key>xhr_animation013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,853},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>xhr_animation015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,209},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>xhr_animation021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,209},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>xhr_animation025.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{180,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,291}}</string>
                <key>sourceSize</key>
                <string>{180,291}</string>
            </dict>
            <key>xhr_animation026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1164},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>xhr_animation029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,458},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>xhr_animation038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,517},{43,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>xhr_animation041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1165},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>xhr_animation042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,1106},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>xhr_animation045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,510},{184,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,169}</string>
            </dict>
            <key>xhr_animation046.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1069},{156,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,180}}</string>
                <key>sourceSize</key>
                <string>{156,180}</string>
            </dict>
            <key>xhr_animation047.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,178},{163,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,256}}</string>
                <key>sourceSize</key>
                <string>{163,256}</string>
            </dict>
            <key>xhr_animation056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,1025},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>xhr_animation057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,346},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>xhr_animation063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,730},{80,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>xhr_animation065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1009},{155,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,153}}</string>
                <key>sourceSize</key>
                <string>{155,153}</string>
            </dict>
            <key>xhr_animation075.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,448},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>xhr_animation076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1164},{85,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,38}}</string>
                <key>sourceSize</key>
                <string>{85,38}</string>
            </dict>
            <key>xhr_animation084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1008},{183,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,130}}</string>
                <key>sourceSize</key>
                <string>{183,130}</string>
            </dict>
            <key>xhr_animation089.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,518},{118,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,199}}</string>
                <key>sourceSize</key>
                <string>{118,199}</string>
            </dict>
            <key>xhr_animation095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,2},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>xhr_animation098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,171},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>xhr_animation100.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,976},{146,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,221}}</string>
                <key>sourceSize</key>
                <string>{146,221}</string>
            </dict>
            <key>xhr_animation101.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,460},{209,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,233}}</string>
                <key>sourceSize</key>
                <string>{209,233}</string>
            </dict>
            <key>xhr_animation108.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,661},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>xhr_animation112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,623},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>xhr_animation115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,951},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>xhr_animation116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,724},{158,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,109}}</string>
                <key>sourceSize</key>
                <string>{158,109}</string>
            </dict>
            <key>xhr_animation117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,730},{101,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{101,109}</string>
            </dict>
            <key>xhr_animation118.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,426},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>xhr_animation120.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,347},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>xhr_animation121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1025},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>xhr_animation131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{262,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,167}}</string>
                <key>sourceSize</key>
                <string>{262,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xhr_animation.png</string>
            <key>size</key>
            <string>{2025,1230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7bec89783e89fdfbb516a5d610d75f$</string>
            <key>textureFileName</key>
            <string>xhr_animation.png</string>
        </dict>
    </dict>
</plist>
